<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th [nzSortFn]="sortVouchDate">日期</th>
      <th nzCustomFilter [nzSortFn]="sortVouchNo">
        单据号
        <nz-filter-trigger [(nzVisible)]="visible" [nzDropdownMenu]="menu">
          <i nz-icon nzType="search"></i>
        </nz-filter-trigger>
      </th>
      <th>收款人</th>
      <th>备注</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.vouchdate | date: 'yyyy-MM-dd' }}</td>
      <td>{{ data.vouchno }}</td>
      <td>{{ data.receiver }}</td>
      <td>{{ data.description }}</td>
    </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        placeholder="搜索"
        [(ngModel)]="searchValue"
      />
      <button
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search()"
        class="search-button"
      >
        搜索
      </button>
      <button nz-button nzSize="small" (click)="reset()">重置</button>
    </div>
  </div>
</nz-dropdown-menu>
